html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: #6d28d9;
}

h1 {
  color: #f5f3ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  flex: 1 0 auto;
}

.new-book {
  padding: 1.5rem;
  font-size: 1.1rem;
  align-self: center;
  background-color: #6b21a8;
  border: 2px solid #3b0764;
  color: #f5f3ff;
  transition-duration: 0.4s;
}

.new-book:hover {
  background-color: #3b0764;
  border : 2px solid #d8b4fe;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.books-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 50px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  border: 3px solid #3b0764;
  background-color: #d8b4fe;
  color: #3b0764;
}

.hidden {
  display: none;
}

.form-container {
  height: 275px;
  width: 275px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #d8b4fe;
  background-color: #3b0764;
  color: #f5f3ff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
  align-items: center;
}

form > button,
input[type="submit"] {
  background-color: #a855f7;
  border: 2px solid #3b0764;
  transition-duration: 0.4s;
}

form >button:hover,
input[type="submit"]:hover {
  background-color: #9333ea;
}

input,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a855f7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a855f7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.delete-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #a855f7;
  border: 2px solid #3b0764;
  transition-duration: 0.4s;
}

.delete-button:hover {
  background-color: #9333ea;
}

.footer-container {
  flex-shrink: 0;
}

footer {
  color: #f5f3ff;
}
